.box .nav > li > a {
    padding: 5px 15px;
}

.switcher .content{
    min-height: 26px;
    padding: 0;
}
/*--------------- HELPERS ---------------*/

h4{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    color: #555;
}
h4 b{
    font-weight: 400;
}

.confirm-delete{
    color: #a94442 !important;
}
.color-red{
    color: #a94442;
}
.font-16 {
    font-size: 16px;
}
.font-12 {
    font-size: 12px;
}
.font-10 {
    font-size: 10px;
}

#notify-alert {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
}
.smooth {
    color: #aaa;
}
.dashed-link:before{
    font-family: 'Glyphicons Halflings';
    content: "\e252";
    font-size: 10px;
    margin-right: 4px;
}
.dashed-link.collapsed:before{
    content: "\e250";
}
.dashed-link:hover, .dashed-link:focus{
    text-decoration: none;
    color: #333;
}